# Compiled output
/dist
/tmp
/out-tsc

# NPM
/node_modules

#PROJECTS MISC
/projects/components/node_modules
/projects/components/package-lock.json
/projects/storage/node_modules
/projects/storage/package-lock.json
/projects/api/node_modules
/projects/api/package-lock.json

#IONIC
/.ionic
/android
/ios
/www
/plugins
/platforms
/dist
#CAP GEN ASSETS
/icons
/src/manifest.webmanifest

#ANGULAR
/.angular
/.sass-cache
/.sourcemaps
/.versions
/coverage
/node_modules
package-lock.json

# Visual Studio Code
/.vscode
.history/
*.vsix
.editorconfig

# IDEA and simple editors
.idea/*
!.idea/runConfigurations/
!.idea/codeStyleSettings.xml
.project
.classpath
.c9/
*.launch
.settings/
xcuserdata/
*.sublime-workspace

#LOG
*.log
log.txt
npm-debug.log*
